<footer class="main__footer" id="footer_main">
    <section class="main__footer_wrap container">
        <div class="main__footer_center">
            <div class="logo__index_wrap">
                <div class="logo__index"></div>
            </div>
            <h4 class="services__footer_name">Контакты</h4>
            <h2 class="services__footer_title">
                Мы ждем вас
            </h2>
            <p class="services__footer_text">
                ©
                Воложинский районный исполнительный комитет, 2008-2019<br>

                <strong>адрес:</strong>
                222357, г. Воложин, пл. Свободы, 2<br>

                <strong>телефон:</strong>
                +375 (1772) 5-55-72<br>

                <strong>e-mail:</strong>
                rik@volozhin.gov.by<br>
            </p>
        </div>
    </section>
</footer>