<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load widget_tweaks %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'forum/styles.css' %}"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"/>
    <title>Document</title>
</head>

<body>

{% include 'forum/header_auth.html' %}

<section class="section__info_res section__info_res--auth" id="info_res_link">

    <div class="info__res_left info__res_left--auth">
        <h4 class="services__info_res_name">Форум</h4>
        <h2 class="services__info_res_title">
            Ищите ответы на вопросы, и отвечайте другим
        </h2>

    </div>

    <div class="section__info_res_wrap container section__info_res_wrap--auth">
        <!-- тут я добавил все для авторизованного пользователя -->
        <div class="info__res_for_auth">


            <div class="search">
                <form method="get" action="{% url 'forum' %}" class="search__form">
                    <div class="search_img"></div>
                    {% if query %}
                        <input value="{{ query }}" name="q" class="search__input" id="search__input" type="text"
                               placeholder="Введите ваш вопрос"/>
                    {% else %}
                        <input name="q" class="search__input" id="search__input" type="text"
                               placeholder="Введите ваш вопрос"/>
                    {% endif %}
                    <!--ТЕПЕРЬ ТУТ КНОПКИ ВЫБОРА (ЧЕК БОКСЫ) -->
                    <div>
                        {% if not filter %}
                            <div class="first_type">
                                <input value="all" type="radio" name="f" class="second_type_checkbox" id="radio2"
                                       checked>
                                <label for="radio2" class="question_text">Все вопросы</label>
                            </div>
                            <div class="second_type">
                                <input value="nansw" type="radio" name="f" class="first_type_checkbox" id="radio1">
                                <label for="radio1" class="question_text">Только вопросы без ответа</label>
                            </div>
                        {% else %}
                            <div class="first_type">
                                <input value="all" type="radio" name="f" class="second_type_checkbox" id="radio2">
                                <label for="radio2" class="question_text">Все вопросы</label>
                            </div>
                            <div class="second_type">
                                <input value="nansw" type="radio" name="f" class="first_type_checkbox" id="radio1"
                                       checked>
                                <label for="radio1" class="question_text">Только вопросы без ответа</label>
                            </div>
                        {% endif %}
                    </div>


                    <button type="submit" class="submit_search">Отправить</button>
                </form>

            </div>

            <!-- СПИСОК ВОПРОСОВ -->
            <div class="questions_list">
                <ul class="questions_list_wrap ">
                    {% for question in questions %}
                        <li class="questions_list_item">
                            <a href="{% url 'question' question.id %}" class="questions_list_link">
                                <h2 class="question_title">{{ question.title }}</h2>
                                <p class="question_text">{{ question.text|truncatechars:20 }}</p>
                            </a>
                        </li>
                    {% empty %}
                        <h4 class="services__info_res_name services__info_res_name--position">Вопросов пока нет</h4>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="info__res_right">
            <form method="post" action="{% url 'forum' %}" class="info_res_right_form">
                {% csrf_token %}
                <div class="middle_form_2">
                    {{ form.title.errors }}
                    <label class="input_label_text" for="{{ form.title.id_for_label }}">Тема сообщения</label>
                    <div class="input_parameters_2">
                        {% render_field form.title class="input_styles input_parameters_2" placeholder="Введите оглавление вопроса" %}
                    </div>

                </div>

                <div class="bottom_form">
                    {{ form.text.errors }}
                    <label class="input_label_text" for="{{ form.text.id_for_label }}">Вопрос</label>
                    <div>
                        {% render_field form.text class="input_styles input_parameters_3" placeholder="Введите вопрос" %}
                    </div>
                </div>

                <div class="submit_form_box">
                    <button type="submit" class="submit_form">Задать вопрос</button>
                </div>

            </form>
        </div>
    </div>
</section>

{% include 'forum/footer.html' %}
</body>
</html>