<section class="header__index_wrap">
    <header class="header__index">
        <div class="logo__index_wrap">
            <div class="logo__index"></div>
        </div>

        <nav class="nav__index">
            <ul class="nav__index_ul">
                <li class="nav__index_li">
                    <a
                            href="#link_to_main"
                            class="nav__index_link"

                    >Главная</a>
                </li>
                <li class="nav__index_li">
                    <a
                            href="#link_to_services"
                            class="nav__index_link"

                    >Услуги</a
                    >
                </li>
                <li class="nav__index_li">
                    <a
                            href="#link_to_about"
                            class="nav__index_link"
                    >О нас</a
                    >
                </li>
                <li class="nav__index_li">
                    <a href="#news_link" class="nav__index_link">Новости</a>
                </li>

                <li class="nav__index_li">
                    <a href="#info_res_link" class="nav__index_link">Форум</a>
                </li>

                <li class="nav__index_li">
                    <a href="#resources" class="nav__index_link">Информационные ресурсы</a>
                </li>

                <li class="nav__index_li">
                    <a href="#footer_main" class="nav__index_link">Контакты</a>
                </li>

            </ul>
        </nav>

        <form action="{% url 'login' %}" class="header__button_action_index">


            <button class="header__button">Авторизация</button>
        </form>
    </header>
</section>