<section class="header__index_wrap">
    <header class="header__index">
        <div class="logo__index_wrap">
            <div class="logo__index"></div>
        </div>

        <nav class="nav__index">
            <ul class="nav__index_ul">
                <li class="nav__index_li">
                    <a href="{% url 'index' %}#link_to_main" class="nav__index_link">Главная</a>
                </li>
                <li class="nav__index_li">
                    <a href="{% url 'index' %}#link_to_services" class="nav__index_link">Услуги</a>
                </li>
                <li class="nav__index_li">
                    <a href="{% url 'index' %}#link_to_about" class="nav__index_link">О нас</a>
                </li>
                <li class="nav__index_li">
                    <a href="{% url 'index' %}#news_link" class="nav__index_link">Новости</a>
                </li>

                <li class="nav__index_li">
                    <a href="{% url 'forum' %}" class="nav__index_link">Форум</a>
                </li>

                <li class="nav__index_li">
                    <a href="{% url 'index' %}#resources" class="nav__index_link">Информационные ресурсы</a>
                </li>

                <li class="nav__index_li">
                    <a href="{% url 'index' %}#footer_main" class="nav__index_link">Контакты</a>
                </li>

            </ul>
        </nav>
        <div class="header__button_action_index">
            <div class="user_name">
                <!-- ИМЯ ПОЛЬЗОВАТЕЛЯ -->
                <h3 class="user_name_text">
                    {{ user.last_name }} <br>
                    {{ user.first_name }}
                </h3>
            </div>
            <!-- КНОПКА ВЫХОДА + КНОПКА СМЕНЫ ПАРОЛЯ-->
            <button onclick="location.href={% url 'logout' %}" type="button" class="header__button">Выход</button>
            <button onclick="location.href={% url 'reset_password' %}" class="header__button">Сменить Пароль</button>
        </div>
    </header>
</section>